html
{
  font-family: $font-family-base;
  font-size: $font-size-base;
  word-spacing: 1px;
  line-height: $font-size-lg;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $--color-white;
  color: $--color-black-6;
}