body
{
  margin: 0;
}

// IE 9-. 表示用
article, aside, footer, header, nav, section
{
  display: block;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: $font-weight-light;
  margin: $space-lg 0;
}

h4, h5, h6
{
  font-weight: $font-weight-regular;
  margin: $space-base 0;
}

h1
{
  font-size: $h1-font-size;
}

h2
{
  font-size: $h2-font-size;
}

h3
{
  font-size: $h3-font-size;
}

h4
{
  font-size: $h4-font-size;
}

h5
{
  font-size: $h5-font-size;
}

h6
{
  font-size: $h6-font-size;
}
