// IE 10. アクティブリンクの背景が灰色にならないよう調整
// iOS 8+, Safari 8+. リンクのアンダーラインをつける（共通化）
a
{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: $color-primary;
  &:hover
  {
    text-decoration: underline;
  }
}

// outline はデフォルトでは無しとする
a:active, a:hover
{
  outline-width: 0;
}

// Safari 6. 表示用
b, strong
{
  font-weight: inherit;
}

// Chrome, Edge, Safari.
b, strong
{
  font-weight: 600;
}

// コード系
code, kbd, samp
{
  font-family: "Andale Mono", monospace, monospace; /* 1 */
  font-size: 14px; /* 2 */
}

// IE 9-. 用
mark
{
  background-color: #ff0;
  color: #000;
}

// 下付き文字、上付き文字
sub, sup
{
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub
{
  bottom: -0.25em;
}

sup
{
  top: -0.5em;
}
